@import url('https://fonts.googleapis.com/css?family=Hind:400,600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.navigation-button {
    opacity: 0.4;
    margin-left: 5px;
    margin-right: 5px;
}

.navigation-button:hover {
    opacity: 0.9
}

.muidocs-icon-custom-sort {
    font-family: 'material-ui-icons'
}

.muidocs-icon-custom-sort:before {
        content: "sort";
}
